.container {
    display: grid;
    width: 750px;
    height: 800px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "header"
    "explainer"
    "sidebar"
    "skills"
    "history"
    "education" ;
} 

.header {
    grid-area: header;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.explainer {
    grid-area: explainer;
    grid-row 2;
    grid-column: 1 / span 2;
}

.sidebar {
    display: flex;
    justify-content: center;
    grid-area: sidebar;
    grid-row: 3 / span 5;
}

.skills {
    grid-area: skills;
    grid-row: 3/4;
    grid-column: 2;
}

.history {
    grid-area: history;
    grid-row: 4/5;
    grid-column: 2;
}

.education {
    grid-area: education;
    grid-row: 5/6;
    grid-column: 2;
}

/* OTHER STYLES */

body {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.item {
    background-color:aliceblue;
    border: 6px solid black;
}

.sidebar {
    background-image: linear-gradient(-130deg, #6C52D9 15%, #1EAAFC 85% );
}