body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* What kind of selector is this? */
  .logo {
    width: 250px;
    height: 200px;
    margin: 3% 10%;
  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  /* This is an element within and element selector */ 
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: rgb(2, 63, 88);
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 8px solid rgb(83, 241, 120);
  }

  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }

  h1 {
    color:rgb(2, 63, 88);
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #396bf5;;
  }

  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }

  .small-text {
    grid-column: 2/3;
    color: rgb(2, 63, 88);
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: solid;
    background-color: aquamarine;
    padding: 20px;
    padding-bottom: 5%;
    text-align: center;
    color: rgb(2, 63, 88);
    letter-spacing: 16px;
    font-style: italic;
  }